#list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#list li {
    flex: 0 1 auto;
    padding: .5em;
    border-radius: 4px;
    cursor: pointer;
}
#list li:hover {
    background-color: rgba(255, 102, 0, 0.5);
}

#description {
    display: none;
}
#description.show {
    display: block;
}