dt{
    color: red;
    text-align: left; 
}

dd{
    text-align: left;
}

.name{
    font-size: 30px;
}


#list {
    
    /*background-color: rgb(204, 146, 146);*/
}
#list li {
    cursor: pointer; /* petit doigt à la place du pointer de la souris */
    color: rgb(180, 180, 224);
    gap: 20px;
    border: solid 1px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    display: inline-block; 
    border-radius: 10px; 
    text-align: center; 

    

}

#list li:hover{
    padding-bottom: 50px;
    transition: transform .5s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #303952;
    transform: scale(1.02);

#name{
    color: green; 
}
#description:hover{
    background-color: rgb(58, 103, 146); 
    display: inline;
}




