#list {
    gap: 20px;
    background-color: red;
}
#list li {
    cursor: pointer; /* petit doigt à la place du pointer de la souris */
    color: blue; 
}
#list li:hover {
}

#description {
    display: none;
}
